html,body {
  background: rgb(255, 255, 255);
  color: #FFFFFF
}

h1 {
  font-weight: 200;
  margin: 2.5em 0;
}
h1 { font-size: 3.5em; }

#rotation {
    background: rgb(119, 0, 255);
    height: 500px;
    text-align: center;

    
}
