html,body {
  background: rgb(255, 255, 255);
  color: #FFFFFF
}

h1 {
  font-weight: 200;
  margin: 2.5em 0;
}
h1 { font-size: 3.5em; }

#rotation {
  padding: 50px;
  margin: 20px;
  text-align: center;
    
}
.snippet_testimonial {
  border: 1px solid #EAEAEA;
  padding: 20px;
}

.snippet_testimonial {
  border: 1px solid #EAEAEA;
  padding: 20px;

  &.opt_shadow img {
    box-shadow: 0 2px 5px rgba(51, 51, 51, 0.4);
  }

  &.opt_grey_bg {
    border: none;
    background-color: #EAEAEA;
  }
}
